{% load static %}
<html>
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Kence Határ blog</title>
    </head>
<body>


<div class="container-fluid">
   <div class="row">
        <div class = "col-lg-2 hidden-xs hidden-sm hidden-md"></div>
            <div class = "col-xs-12 col-md-12 col-lg-8" style = "background:url('{% static 'pics/header.jpg' %}'); background-size:cover; height:300px; text-align: right;"><a href="www.index.hu"></a>
                <div style="display: inline-block;">
                    <a href="www.index.hu"><h1>Kence Határ</h1></a>
                </div>
            </div>
        <div class = "col-lg-2 hidden-xs hidden-sm hidden-md"></div> 
   </div>
</div>
<div class="row">

<br><br>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 hidden-xs"></div>
            <div class="col-xs-12 col-lg-8"  style="background-color:#E4B6E1;">
                    <div class="col-xs-12 col-lg-8">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-4 hidden-xs hidden-sm hidden-md" style="height: 300">
                        <br><br>
                        <h1>Ki is vagyok valójában?</h1>
                        <p>Judit vagyok, 28 éves. Kicsit krémmániás, kicsit vegyész, nagy könyvmoly és komoly kirakófüggőségem van. 
                        A blog alapvető témája mégis a külföldön vásárolt kozmetikumaim ismertetése, bemutatása lesz. Nagyon kedvelem az itthon nem kapható
                        termékek levadászását, mindig igyekszem egy kis időt szánni erre utazásaim alatt.</p>
                    </div>
            </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<div class="row"></div>
</body>
</html>